// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #4a90e2;
    --ion-color-primary-rgb: 74, 144, 226;
  
    --ion-color-secondary: #50e3c2;
    --ion-color-secondary-rgb: 80, 227, 194;
  
    --ion-color-tertiary: #f5a623;
    --ion-color-tertiary-rgb: 245, 166, 35;
  
    --ion-color-success: #7ed321;
    --ion-color-success-rgb: 126, 211, 33;
  
    --ion-color-warning: #f8e71c;
    --ion-color-warning-rgb: 248, 231, 28;
  
    --ion-color-danger: #d0021b;
    --ion-color-danger-rgb: 208, 2, 27;
  
    --ion-color-dark: #4a4a4a;
    --ion-color-dark-rgb: 74, 74, 74;
  
    --ion-color-medium: #9b9b9b;
    --ion-color-medium-rgb: 155, 155, 155;
  
    --ion-color-light: #f2f2f2;
    --ion-color-light-rgb: 242, 242, 242;
  }
  