<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="guardarDatosPersonales()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" name="apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [value]="correo" name="correo" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="telefono" name="telefono" required type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-button expand="block" fill="outline" (click)="presentAlertSexo()" class="sexo-button">
          {{ sexo ? sexo : 'Seleccionar' }}
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Carrera</ion-label>
        <ion-input [(ngModel)]="carrera" name="carrera" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit">Guardar Datos</ion-button>
    <ion-button
      expand="block"
      class="volver-sin-guardar"
      (click)="volverAlMenu()"
      aria-label="Volver sin guardar"
    >
      Volver sin guardar
    </ion-button>
  </form>
</ion-content>
