<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let dia of diasOrdenados">
    <ion-item-divider color="primary" *ngIf="asignaturasPorDia[dia] && asignaturasPorDia[dia].length > 0">
      <ion-label>{{ dia }}</ion-label>
    </ion-item-divider>
    
    <ion-list *ngIf="asignaturasPorDia[dia] && asignaturasPorDia[dia].length > 0">
      <ion-item *ngFor="let asignatura of asignaturasPorDia[dia]">
        <ion-label>
          <h2>{{ asignatura.nombre }}</h2>
          <p><strong>Horario:</strong> {{ asignatura.horario }}</p>
          <p><strong>Sección:</strong> {{ asignatura.seccion }}</p>
          <p><strong>Sala:</strong> {{ asignatura.sala }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
