<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">Duoc</ion-text>
      <ion-text color="warning">Assist</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Ajustes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- Sección de Notificaciones -->
    <ion-item>
      <ion-label>Notificación Próxima Clase</ion-label>
      <ion-toggle [checked]="notificacionClase" (ionChange)="toggleNotificacionProximaClase($event.detail.checked)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Notificación Registro Asistencia</ion-label>
      <ion-toggle [checked]="notificacionAsistencia" (ionChange)="toggleNotificacionRegistroAsistencia($event.detail.checked)"></ion-toggle>
    </ion-item>

    <!-- Sección de Datos Personales -->
    <ion-item (click)="irADatosPersonales()">
      <ion-label>Datos Personales</ion-label>
      <ion-icon name="person-outline" slot="end"></ion-icon>
    </ion-item>

    <!-- Sección de Tema Oscuro -->
    <ion-item>
      <ion-label>Tema oscuro</ion-label>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)"></ion-toggle>
    </ion-item>

    <!-- Sección de Seguridad: Cambiar Contraseña -->
    <ion-item (click)="abrirModalCambiarContrasena()">
      <ion-label>Cambiar Contraseña</ion-label>
      <ion-icon name="key-outline" slot="end"></ion-icon>
    </ion-item>

    <!-- Sección de Acerca de -->
    <ion-item (click)="mostrarAcercaDe()">
      <ion-label>Acerca de</ion-label>
      <ion-icon name="information-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
